.GoodCard {
	display: grid;
	grid-template-rows: min-content 1fr;

	@include vpTablet {
		grid-template-columns: 334px 1fr;
	}
}

.GoodCard__pictureLink {
	@include defaultInteractive;
}

.GoodCard__body {
	display: flex;
	flex-direction: column;
	padding: 26px 28px;
	border: 1px solid $colorWhisper;

	@include transition("box-shadow");

	@include hoverFocus(true) {
		box-shadow: $shadowCardFront;
	}

	@include active {
		box-shadow: $shadowCard;
	}
}

.GoodCard__heading {
	margin: 0 0 6px;

	@include vpTablet {
		padding-left: 4px;
	}
}

.GoodCard__link {
	text-decoration: none;

	@include defaultInteractive;
}

.GoodCard__details {
	margin: 0 0 18px;
	font-size: 13px;
	line-height: 30px;
	color: $colorCharcoal;

	@include vpTablet {
		padding-left: 4px;
	}

	@include vpDesktop {
		margin-bottom: 12px;
	}
}

.GoodCard__item {
	display: inline;
	margin: 0;

	@include vpTabletDesktop {
		font-size: 15px;
	}
}

.GoodCard__footer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	padding-top: 22px;
	border-top: 1px solid $colorWhisper;

	@include vpTablet {
		padding-left: 4px;
	}
}

.GoodCard__price {
	margin: 0;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;

	@include vpTabletDesktop {
		font-size: 1rem;
	}
}

.GoodCard__buttonCart {
	display: flex;
	width: 20px;
	height: 19px;
	color: rgba($colorBlack, 0.2);

	@include transition("color");

	@include hoverFocus {
		color: $colorDowny;
	}

	@include active {
		color: rgba($colorDowny, 0.3);
	}

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background-color: currentColor;

		@include mask("cart");
	}
}
