<section class="Goods {{ bemMix }}">
	<h2 class="visuallyHidden">{{ heading }}</h2>

	<ul class="Goods__list">
		{% for good in goods.list %}
			<li>
				{% include component('GoodCard') with good|merge({ bemMix: 'Goods__card' }) %}
			</li>
		{% endfor %}
	</ul>
</section>
