.Button {
	padding: 14px 32px;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: $colorCharcoal;
	outline-color: $colorCharcoal;

	@include button(transparent, 2px solid $colorCharcoal);
	@include transition("color, background-color");

	&_secondary {
		padding: 18px 34px;
		font-size: 17px;
		line-height: 16px;
		color: $colorWhite;
		background-color: $colorDowny;
		border: none;
	}

	@include hoverFocus {
		color: $colorWhite;
		background-color: $colorCharcoal;
	}

	@include active {
		color: rgba($colorWhite, 0.3);
		background-color: $colorCharcoal;
	}
}
