.Form {
	padding: 17px 0 55px;

	@include vpTabletDesktop {
		padding-top: 60px;
		padding-bottom: 52px;
	}

	@include vpDesktop {
		padding-top: 108px;
		padding-bottom: 51px;
	}
}

.Form__prepend {
	margin: 0 0 29px;
	font-size: 13px;
	line-height: 24px;
	color: $colorCharcoal;

	@include container;

	@include vpTabletDesktop {
		margin-bottom: 16px;
		font-size: 1rem;
		line-height: 30px;
	}

	@include vpDesktop {
		margin-right: 175px;
		margin-left: 175px;
	}
}

.Form__set {
	margin: 0 30px 32px;
	padding: 0;
	font-size: 17px;
	border: none;
	border-top: 1px solid $colorDownyTertiary;

	@include vpTabletDesktop {
		display: grid;
		grid-template-columns: 167px 1fr;
		margin: 0;
		padding: 50px;
		border: none;
	}

	@include vpDesktop {
		grid-template-columns: 175px 1fr;
		padding-right: $paddingFluid;
		padding-left: $paddingFluid;
	}
}

.Form__title {
	min-width: 40px;
	margin: 0 0 26px;
	padding: 0 20px 0 0;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	overflow-wrap: anywhere;
	color: $colorDowny;

	@include vpTabletDesktop {
		float: left;
		padding-top: 17px;
	}

	@include vpDesktop {
		padding-left: 60px;
	}
}

.Form__checkers {
	display: grid;
	gap: 23px;

	@include listReset;
}

.Form__checker {
	display: inline-flex;
}

.Form__fields {
	display: grid;
	gap: 22px;

	@include vpTabletDesktop {
		gap: 24px;
	}

	@include vpDesktop {
		padding-right: 175px;
	}

	&_multi {
		@include vpMobile {
			padding-top: 23px;
		}
	}
}

.Form__fieldItem {
	margin: 0;
}

.Form__footer {
	display: grid;
	gap: 30px;

	@include container;

	@include vpTabletDesktop {
		grid-template-columns: 230px 1fr;
		align-items: center;
	}

	@include vpDesktop {
		margin: -4px 175px 0;
	}
}

.Form__append {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	color: $colorCharcoal;

	@include vpTabletDesktop {
		justify-self: end;
		font-size: 1rem;
		line-height: 30px;
	}
}

.Form__submit {
	@include vpTabletDesktop {
		order: -1;
	}
}

.Form__set_radio {
	.Form__title {
		margin-bottom: 33px;
	}

	.Form__checkers {
		gap: 11px;

		@include vpTabletDesktop {
			gap: 27px;
		}
	}
}

.Form__set_checkbox {
	@include vpTabletDesktop {
		background-color: var(--colorGrey);

		.Form__checkers {
			display: grid;
			grid-template-columns: repeat(auto-fill, 238px);
			gap: 24px;
		}
	}
}

.Form__set_fields {
	margin-bottom: 34px;

	.Form__title {
		margin-bottom: 5px;
	}
}

.Form__set_one {
	@include vpTabletDesktop {
		background-color: var(--colorGrey);

		& + & {
			margin-top: -26px;
			padding-top: 0;
		}
	}
}

.Form__set_area {
	margin-bottom: 16px;

	.Form__title {
		margin-bottom: 22px;
	}
}
