.Reviews {
	background-repeat: no-repeat;
	background-size: contain;

	@include customBackground(false);

	@include vpMobile {
		background-size: 0;
	}

	@include vpTabletDesktop {
		--cite-width: calc(100% - 213px);

		display: grid;
		grid-template-rows: min-content 1fr min-content;
		grid-template-columns: 1fr 175px;
		gap: 38px;
		align-items: start;
		padding-top: 79px;
		padding-bottom: 49px;
	}
}

.Reviews__heading {
	order: -2;
	margin: 0 0 14px;

	@include vpTabletDesktop {
		margin: 4px 0 0;
	}
}

.Reviews__slider {
	width: var(--width, 100%);
	overflow: hidden;

	@include vpMobile {
		margin-bottom: 30px;
	}

	@include vpTabletDesktop {
		grid-row: 2 / -1;
		grid-column: 1 / -1;
	}
}

.Reviews__list {
	display: flex;
	transform: translateX(var(--translate, 0));

	@include listReset;
	@include transition("transform");
}

.Reviews__item {
	flex-shrink: 0;
	width: var(--width, 100%);
}

.Reviews__review {
	height: 100%;
	margin: 0;
}

.Reviews__controls {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
	border: 1px solid $colorWhisper;

	@include vpMobile {
		margin-bottom: 38px;
	}

	@include vpTabletDesktop {
		grid-row: -2 / -1;
		grid-column: -2 / -1;
		background-color: $colorWhite;
		border: none;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 1px;
		background-color: $colorWhisper;
		transform: translateX(-50%);
	}
}

.Reviews__control {
	display: flex;
	min-height: 50px;
	outline-offset: -1px;

	@include button;

	&::before {
		content: "";
		width: 50px;
		height: 26px;
		margin: auto;
		background-color: currentColor;
		transform: translateX(-2px);

		@include mask("arrow-huge");
		@include defaultInteractive;
	}

	&_prev::before {
		transform: translateX(-2px) scale(-1);
	}
}

.Reviews__button {
	display: block;
	order: -1;
}

.Reviews_noJs {
	.Reviews__list {
		display: block;
	}

	.Reviews__item + .Reviews__item {
		margin-top: 40px;
		padding-top: 30px;
		border-top: 1px solid $colorWhisper;
	}

	.Reviews__controls {
		display: none;
	}
}
