// https://www.htmlcsscolor.com/hex/000000
$colorAubergine: #231f20;
$colorBlack: #000000;
$colorCharcoal: #444444;
$colorDarkCyan: #149080;
$colorDowny: #63d1bb;
$colorDownySecondary: #59d5bc;
$colorDownyTertiary: #62d1ba;
$colorPuertoRico: #56c3b2;
$colorPuertoRicoAlter: #46c1ae;
$colorSnow: #f9f9f9;
$colorWhisper: #ececec;
$colorWhite: #ffffff;
$colorWhiteSmoke: #f1f1f1;

$breakpointTablet: getBreakpoint("TABLET") * 1px;
$breakpointDesktop: getBreakpoint("DESKTOP") * 1px;

$paddingFluid: calc(50% - 525px);

$pathSprite: "../images/icons.svg";
