.GoodSection {
	display: grid;
	gap: 18px;

	@include vpTabletDesktop {
		gap: 38px;
	}
}

.GoodSection__header {
	@include vpTabletDesktop {
		display: grid;
		grid-template-columns: 1fr 128px;
		align-items: center;
		gap: 42px;
	}
}

.GoodSection__heading {
	margin: 0 0 3px;

	@include vpTabletDesktop {
		margin-bottom: 0;
	}
}

.GoodSection__label {
	margin: 0;
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	text-transform: uppercase;
	color: $colorDowny;

	@include vpTabletDesktop {
		line-height: 1;
		text-align: center;
	}
}

.GoodSection__body {
	@include vpTabletDesktop {
		display: grid;
		grid-template-rows: min-content 1fr min-content min-content;
		grid-template-columns: 1fr 334px;
		gap: 0 42px;
	}
}

.GoodSection__description {
	margin: 0 0 21px;
	color: $colorCharcoal;

	@include vpTabletDesktop {
		margin-bottom: 41px;
		line-height: 30px;
	}
}

.GoodSection__details {
	display: grid;
	grid-template-columns: 98px 1fr;
	align-self: start;
	margin: 0 0 28px;
	font-size: 15px;
	line-height: 20px;
	color: $colorCharcoal;
}

.GoodSection__item {
	margin: 0;
	padding: 7px 20px 12px 0;
	border-bottom: 1px solid $colorWhisper;
}

.GoodSection__picture {
	@include vpMobile {
		display: table;
		margin: 0 auto 26px;
	}

	@include vpTabletDesktop {
		grid-row: 1 / 5;
		grid-column: 2 / -1;
		padding-top: 12px;
	}
}

.GoodSection__price {
	margin: 0 0 24px;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	text-align: center;
	color: $colorCharcoal;

	@include vpTabletDesktop {
		margin-bottom: 32px;
		font-size: 20px;
	}
}

.GoodSection__button {
	display: block;
}
