.Logo {
	padding: 22px;

	@include defaultInteractive;

	@include vpTablet {
		padding-bottom: 20px;
	}

	@include vpDesktop {
		padding-top: 9px;
		padding-bottom: 0;
	}
}

.Logo__picture {
	display: block;
}
