.Checker {
	align-items: center;
	font-weight: 700;
	font-size: 17px;
	line-height: 18px;
	cursor: pointer;

	@include vpTabletDesktop {
		font-size: 19px;
	}
}

.Checker__input {
	display: flex;
	flex-shrink: 0;
	margin: 0 20px 0 0;
	border: 2px solid $colorCharcoal;
	cursor: inherit;
	appearance: none;

	@include transition("border-color");

	@include hover {
		border-color: $colorDownyTertiary;
	}

	@include active {
		border-color: rgba($colorBlack, 0.3);
	}

	@include vpTabletDesktop {
		margin-right: 30px;
	}

	&::before {
		content: "";
		width: 24px;
		height: 17px;
		margin: auto;
		background-color: transparent;

		@include transition("background-color");
	}

	&_checkbox {
		width: 38px;
		height: 38px;
		margin-right: 23px;

		@include vpTabletDesktop {
			width: 52px;
			height: 52px;
		}

		&:checked::before {
			background-color: currentColor;
		}
	}

	&_checkbox::before {
		@include mask("tick");

		@include vpTabletDesktop {
			width: 32px;
			height: 22px;
		}
	}

	&_radio {
		width: 40px;
		height: 40px;
		border-radius: 50%;

		@include vpTabletDesktop {
			width: 50px;
			height: 49px;
		}

		&:checked::before {
			background-color: $colorDownyTertiary;
		}
	}

	&_radio::before {
		@include mask("circle");

		@include vpTabletDesktop {
			height: 21px;
		}
	}
}
