.PageHeader {
	position: relative;

	@include vpTabletDesktop {
		@include container;
	}
}

.PageHeader__menu {
	margin: 0;
	padding: 0;
	list-style: none;

	&_additions {
		@include vpMobile {
			display: none;
		}
	}
}

.PageHeader__link {
	display: block;
	text-decoration: none;
	text-align: center;
}

.PageHeader__toggler {
	position: absolute;
	top: 29px;
	right: 31px;
	display: flex;
	width: 21px;
	height: 20px;
	padding: 0;

	@include button;

	@include vpTabletDesktop {
		display: none;
	}

	&::before {
		content: "";
		width: 20px;
		height: 14px;
		margin: auto;
		background-color: $colorAubergine;

		@include mask("menu");
	}
}

.PageHeader__togglerText {
	@include visuallyHidden;

	&_close {
		display: none;
	}
}

.PageHeader_open {
	.PageHeader__toggler::before {
		width: 21px;
		height: 20px;

		@include mask("close");
	}

	.PageHeader__togglerText {
		&_close {
			display: block;
		}

		&_open {
			display: none;
		}
	}
}
