.PageHeader {
	width: 100%;
	background-color: $colorWhite;

	@include vpMobile {
		position: absolute;
		z-index: 1;
		border-bottom: 1px solid $colorWhisper;
	}
}

.PageHeader__menu {
	@include listReset;

	@include vpMobile {
		display: none;
	}
}

.PageHeader__link {
	display: block;
	padding: 27px 30px 27px 76px;
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	text-decoration: none;
	border-top: 1px solid $colorWhisper;
	outline-offset: -2px;

	@include transition("color");

	@include hoverFocus {
		color: rgba($colorBlack, 0.6);
	}

	@include active {
		color: rgba($colorBlack, 0.3);
	}

	&_iconable {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 32px;
			left: 32px;
			height: 18px;
			background-color: rgba($colorBlack, 0.2);

			@include transition("background-color");
		}

		@include hoverFocus {
			&::before {
				background-color: $colorDowny;
			}
		}

		@include active {
			&::before {
				background-color: rgba($colorDowny, 0.3);
			}
		}
	}

	&_search::before {
		width: 18px;

		@include mask("search");
	}

	&_cart::before {
		left: 30px;
		width: 21px;

		@include mask("cart");
	}
}

.PageHeader__description {
	@include vpMobile {
		display: none;
	}
}

.PageHeader__toggler {
	position: absolute;
	top: 29px;
	right: 31px;
	display: flex;
	width: 21px;
	height: 20px;
	padding: 0;

	@include button;
	@include defaultInteractive;

	@include vpTabletDesktop {
		display: none;
	}

	&::before {
		content: "";
		width: 20px;
		height: 14px;
		margin: auto;
		background-color: $colorAubergine;

		@include mask("menu");
	}
}

.PageHeader__togglerText {
	@include visuallyHidden;

	&_close {
		display: none;
	}
}

.PageHeader_open {
	.PageHeader__toggler::before {
		width: 21px;
		height: 20px;

		@include mask("close");
	}

	.PageHeader__togglerText {
		&_close {
			display: block;
		}

		&_open {
			display: none;
		}
	}
}

.PageHeader_open,
.PageHeader_noJs {
	.PageHeader__menu {
		@include vpMobile {
			display: block;
		}
	}

	.PageHeader__menu_additions {
		@include vpMobile {
			display: none;
		}
	}
}

.PageHeader_noJs {
	@include vpMobile {
		position: relative;
	}

	.PageHeader__toggler {
		display: none;
	}
}
