.Heading {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;

	@include vpTabletDesktop {
		font-size: 43px;
		line-height: 50px;
	}

	@include vpDesktop {
		font-size: 53px;
		line-height: 57px;
	}
}
