<section class="IconableList">
	<h2 class="IconableList__heading Heading">{{ heading }}</h2>

	<ul class="IconableList__list">
		{% for item in list %}
			<li class="IconableList__item IconableList__item_{{ item.icon }}">
				{{ item.text }}
			</li>
		{% endfor %}
	</ul>
</section>
