.Field {
	display: block;
	font-size: 17px;
	line-height: 18px;

	@include vpTabletDesktop {
		display: flex;
		font-size: 19px;
	}
}

.Field__input {
	width: 100%;
	padding: 15px 16px 12px 0;
	color: $colorCharcoal;
	border: none;
	border-bottom: 2px solid $colorBlack;
	outline: none;

	@include transition("border-color");

	@include hoverFocus {
		border-color: $colorDownyTertiary;
	}

	&::placeholder {
		color: rgba($colorBlack, 0.3);
		opacity: 1;
	}

	&_tel,
	&_email {
		padding-right: 40px;
		background-repeat: no-repeat;
		background-size: auto;
	}

	&_tel {
		background-image: url("#{$pathSprite}#tel");
		background-position: right 7px top -2px;
		background-size: 25px;
	}

	&_email {
		background-image: url("#{$pathSprite}#email");
		background-position: right 3px top 2px;
		background-size: 32px;
	}

	&_area {
		min-height: 142px;
		padding-left: 16px;
		color: $colorBlack;
		border: 2px solid $colorCharcoal;
	}
}

.Field__label {
	font-weight: 700;
}
