<div class="Video">
	<video class="Video__player" src="{{ src }}" poster="{{ poster }}"></video>

	<button class="Video__toggle" type="button">
		<span class="visuallyHidden">Проиграть видео.</span>
	</button>
</div>
