<ul class="Socials {{ bemMix }}">
	{% for link in socials %}
		<li>
			<a class="Socials__link Socials__link_{{ link.alias }}" href="{{ link.url }}">
				<span class="visuallyHidden">{{ link.title|punctify }}</span>
			</a>
		</li>
	{% endfor %}
</ul>
