{% extends '../../layouts/theme.twig' %}

{% block page %}
	<div class="Page">
		{% include component('PageHeader') %}

		<main class="Page__main">
			{% if pageHeading %}
				{% include component('MainHeader') with pageHeading %}
			{% endif %}

			{% block main %}{% endblock %}
		</main>

		{% include component('PageFooter') %}
	</div>
{% endblock %}
