.Page {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-height: 100vh;

	@include viewport;
}

.Page__main {
	@include vpMobile {
		margin-top: 80px;
	}
}

.Page__mainTitle {
	margin: 0;
}
