.Page {
	--colorGrey: #{$colorWhiteSmoke};

	display: grid;
	grid-template-rows: min-content 1fr min-content;
	min-height: 100vh;

	@include viewport;
}

.Page__main {
	@include vpMobile {
		margin-top: 80px;

		&_noJs {
			margin: 0;
		}
	}
}

.Page__mainTitle {
	margin: 0;
}

.Page__promoLinks {
	margin-bottom: 31px;

	@include vpTabletDesktop {
		margin-top: -5px;
		margin-bottom: 46px;
	}
}

.Page__goodSection {
	margin-bottom: 36px;

	@include container;

	@include vpTabletDesktop {
		margin-bottom: 52px;
	}
}

.Page__iconableList {
	margin-bottom: 57px;
	padding-top: 37px;

	@include container;

	@include vpTabletDesktop {
		margin-bottom: 82px;
		padding-top: 73px;
	}
}

.Page__reviews {
	margin-bottom: 45px;

	@include container;

	@include vpTabletDesktop {
		margin-bottom: 68px;
	}
}

.Page__contacts {
	margin-bottom: 40px;
	padding-top: 44px;

	@include vpDesktop {
		padding-right: $paddingFluid;
		padding-left: $paddingFluid;
	}
}

.Page__goods {
	margin-bottom: 30px;
	padding-top: 30px;

	@include container;

	@include vpTabletDesktop {
		margin-bottom: 53px;
		padding-top: 74px;
	}

	@include vpDesktop {
		margin-bottom: 56px;
		padding-top: 122px;
	}
}

.Page__process {
	margin-bottom: 58px;

	@include container;

	@include vpTabletDesktop {
		margin-bottom: 64px;
	}

	@include vpDesktop {
		margin-bottom: 105px;
	}
}

.Page__decorable {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
		height: 6px;
		background-image: url("#{$pathSprite}#waves");
		background-repeat: repeat-x;
		background-size: 320px 6px;

		@include vpTabletDesktop {
			height: 17px;
			background-size: 772px 17px;
		}
	}

	&_alter::before {
		top: auto;
		bottom: 0;
		background-image: url("#{$pathSprite}#waves-white");

		@include vpMobile {
			display: none;
		}

		@include vpTabletDesktop {
			background-size: 770px 24px;
		}

		@include vpDesktop {
			height: 23px;
			background-size: 1150px 34px;
		}
	}
}

.Page_index {
	--colorGrey: #{$colorSnow};

	.Page__decorable_alter::before {
		@include vpDesktop {
			background-position: 50% 0;
			background-size: 1250px 37px;
		}
	}
}
